@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-size: 1em;
}

html, body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(255, 255, 255);
    min-height: 100%;
}

header {
    background-color: #ffbb00;
    text-align: center;
    border-radius: 0px 0px 15px 15px;
}

header h1 {
    color: white;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.5);
    font-family: 'Times New Roman', Times, serif;
    padding: 50px 0px 50px 0px;
    font-size: 5vw;
}

h1 a:hover {
    color: #008c91;
}

header p {
    padding-bottom: 50px;
}

nav a:hover {
    color: #ffbb00;
}

nav {
    background-color: #008c91;
    padding: 3px;
    box-shadow: 2px 2px 3px rgba(122, 122, 122, 0.5);
    text-align: center;
    border-radius: 0px 0px 15px 15px;
}
nav > a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin-right: 50px;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.25);

}

section {
    width: 90%;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding-top: 10%;
    padding-bottom: 10%;
    padding-left: 30px;
    line-height: 2em;
    font-size: 1.5vw;
}

.welcome {
    height: auto;
    margin-top: 10px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    color: black;
}

#mapaa {
    padding-bottom: 50px;
}

.mapa {
    text-align: center;
    margin: auto;
}

.indenttext {
    text-indent: 1em;
    text-align: justify;
}

span.design {
    color: #008c91;
    font-size: 1em;
}

span.design:hover {
    color: #ffbb00;
}

section.imagem {
    background-color: gray;
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.25);
    background-attachment: fixed;
}

section.imagem p {
    display: inline-block;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.25);
}

section#img01 {
    border-radius: 10px;
    background-image: url(/imgs/produtos.jpg);
    background-color: right center;
    background-size: cover;
}

section#img02 {
    border-radius: 10px;
    background-image: url(/imgs/produtos2.png);
    background-color: right center;
    background-size: cover;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}